<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Keep Tabs On Products</title>
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
	<nav>
		<div>
			<div>
				<a th:href="@{/}"><img th:src="@{/images/ktop_logo.png}"></a>
				<a th:href="@{/homes}">Homes</a>
				<a th:href="@{/users}">Users</a>
				<a th:href="@{/users_homes}">Users Homes</a>
				<a th:href="@{/products}">Products</a>
				<a th:href="@{/products_category}">Products Category</a>
			</div>
		</div>
	</nav>
	<div id="content">
		<div id="join">
			<div id="back">
				<a th:href="@{'/add_home'}">Add home</a>
			</div>
		</div>
		<h1>Homes list</h1>
		<table>
			<thead>
				<tr>
					<th>Home Id</th>
					<th>Home Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="homes : ${homes}">
					<td th:text="${homes.id}">Home Id</td>
					<td th:text="${homes.home_name}">Home Name</td>
					<td class="tbtn"><a th:href="@{'/edit_home/' + ${homes.id}}">Edit</a></td>
					<td class="tbtn"><a th:href="@{'/delete_home/' + ${homes.id}}">Delete</a></td>
				</tr>
			</tbody>
		</table>		
	</div>
</body>
</html>