<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Keep Tabs On Products</title>
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
	<nav>
		<div>
			<div>
				<a th:href="@{/}"><img th:src="@{/images/ktop_logo.png}"></a>
				<a th:href="@{/homes}">Homes</a>
				<a th:href="@{/users}">Users</a>
				<a th:href="@{/users_homes}">Users Homes</a>
				<a th:href="@{/products}">Products</a>
				<a th:href="@{/products_category}">Products Category</a>
			</div>
		</div>
	</nav>
	<div id="content">
		<div id="join">
			<div id="back">
				<a th:href="@{'/add_product_category'}">Add product category</a>
			</div>
			<div id="add">
				<a th:href="@{'/products_category_sort'}">Sort by type</a>
			</div>
		</div>
		<h1>Products category list</h1>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Type</th>
					<th>Home</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="products_category : ${products_category}">
					<td th:text="${products_category.id}">Id</td>
					<td th:text="${products_category.pcat_name}">Name</td>
					<td th:text="${products_category.type}">Type</td>
					<td th:text="${products_category.home.home_name}">Home</td>
					<td class="tbtn"><a th:href="@{'/edit_product_category/' + ${products_category.id}}">Edit</a></td>
					<td class="tbtn"><a th:href="@{'/delete_product_category/' + ${products_category.id}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>